<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841406606658-hi87iuj6nnmo0unuvarqmlo7pv5fmoe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841406606658-hi87iuj6nnmo0unuvarqmlo7pv5fmoe9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841406606658-vrjv0k0hdrl78neep65340ho1atvm4kt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZmH9SaJf6RLxFn2eQsNHTtWEQuA0BcsE</string>
	<key>GCM_SENDER_ID</key>
	<string>841406606658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifeofdesigner</string>
	<key>PROJECT_ID</key>
	<string>lifeofdesigners-42033</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeofdesigners-42033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841406606658:ios:f522a77938103e7da96cdb</string>
</dict>
</plist>